<h1>Interpretation</h1>

<main class="container-fluid">
  <section class="row">
<section class="col-4">
<form >
    <h2>Agent Entry</h2>
    <label for="finalPO123">PO123<input readonly id="finalPO123" name="" type="text" change="sync()"></label>
<label for="finalSection">Section<input readonly id="finalSection" name="" type="text"></label>
<label for="finalProductFamily">Product Family<input readonly id="finalProductFamily" name="" type="text"></label>
<label for="finalProductFamilySubType">Product Family Sub Type<input readonly id="finalProductFamilySubType" name="" type="text"></label>
<label for="finalProductDescription">Product Description<input id="finalProductDescription" name="" type="text"></label>
<label for="finalPartNumber">Part Number<input id="finalPartNumber" readonly name="" type="text"></label>
<label for="ListPrice">List Price (Billing Currency)<input readonly id="ListPrice" name="" type="text"></label>
<label for="Discount">Discount<input id="Discount" name="" readonly type="text"></label>
<label for="UsageIndicator">Usage Indicator<input id="UsageIndicator" readonly name="" type="text"></label>
<label for="UsageStartDate">Usade Start Date<input id="UsageStartDate" readonly name="" type="date"></label>
<label for="UnitofMeasure">Unit of Measure<input id="UnitofMeasure" readonly name="" type="text"></label>
<label for="UnitQuanity">Unit Quantity<input id="UnitQuanity" name="" readonly type="text"></label>
<label for="NetUnitPrice">Net Unit Price (Billing Currency)<input readonly id="NetUnitPrice" name="" type="text"></label>
<label for="LicenseQuantity">License Quantity<input id="finalLicenseQuanity" readonly name="" type="text"></label>
<label for="UsageCountry">Usage Country<input id="UsageCountry" name="" readonly type="text"></label>
<label for="ExtendedAmount">Extended Amount<input id="ExtendedAmount" readonly name="" type="text"></label>

</form>
</section>

<section class="col-4">
    
<form >
    <h2>Interpretation Entry</h2>
<label for="intPO123">PO123<input id="intPO123" name="" type="text"></label>
<label for="intSection">Section<input id="intSection" name="" type="text"></label>
<label for="intProductFamily">Product Family<input id="intProductFamily" name="" type="text"></label>
<label for="intProductFamilySubType">Product Family Sub Type<input id="intProductFamilySubType" name="" type="text"></label>
<label for="intProductDescription">Product Description<input id="intProductDescription" name="" type="text"></label>
<label for="intPartNumber">Part Number<input id="intPartNumber" name="" type="text"></label>
<label for="intListPrice">List Price (Billing Currency)<input id="intListPrice" name="" type="text"></label>
<label for="intDiscount">Discount<input id="intDiscount" name="" type="text"></label>
<label for="intUsageIndicator">Usage Indicator<input id="intUsageIndicator" name="" type="text"></label>
<label for="intUsageStartDate">Usade Start Date<input id="intUsageStartDate" name="" type="date"></label>
<label for="intUnitofMeasure">Unit of Measure<input id="intUnitofMeasure" name="" type="text"></label>
<label for="intUnitQuanity">Unit Quantity<input id="intUnitQuanity" name="" type="text"></label>
<label for="intNetUnitPrice">Net Unit Price (Billing Currency)<input id="intNetUnitPrice" name="" type="text"></label>
<label for="intLicenseQuantity">License Quantity<input id="intLicenseQuanity" name="" type="text"></label>
<label for="intUsageCountry">Usage Country<input id="intUsageCountry" name="" type="text"></label>
<label for="intExtendedAmount">Extended Amount<input id="intExtendedAmount" name="" type="text"></label>
<button type="button">Save Interpretation</button>
</form>

</section>

<section class="col-4">
    
<form (ngSubmit)="saveInterpretation()">
    <h2>Final Entry</h2>
<label for="finalPO123">PO123<input readonly id="finalPO123" name="" type="text" change="sync()"></label>
<label for="finalSection">Section<input readonly id="finalSection" name="" type="text"></label>
<label for="finalProductFamily">Product Family<input readonly id="finalProductFamily" name="" type="text"></label>
<label for="finalProductFamilySubType">Product Family Sub Type<input readonly id="finalProductFamilySubType" name="" type="text"></label>
<label for="finalProductDescription">Product Description<input id="finalProductDescription" name="" type="text"></label>
<label for="finalPartNumber">Part Number<input id="finalPartNumber" readonly name="" type="text"></label>
<label for="finalListPrice">List Price (Billing Currency)<input readonly id="finalListPrice" name="" type="text"></label>
<label for="finalDiscount">Discount<input id="finalDiscount" name="" readonly type="text"></label>
<label for="finalUsageIndicator">Usage Indicator<input id="finalUsageIndicator" readonly name="" type="text"></label>
<label for="finalUsageStartDate">Usade Start Date<input id="finalUsageStartDate" readonly name="" type="date"></label>
<label for="finalUnitofMeasure">Unit of Measure<input id="finalUnitofMeasure" readonly name="" type="text"></label>
<label for="finalUnitQuanity">Unit Quantity<input id="finalUnitQuanity" name="" readonly type="text"></label>
<label for="finalNetUnitPrice">Net Unit Price (Billing Currency)<input readonly id="NetUnitPrice" name="" type="text"></label>
<label for="finalLicenseQuantity">License Quantity<input id="finalLicenseQuanity" readonly name="" type="text"></label>
<label for="finalUsageCountry">Usage Country<input id="finalUsageCountry" name="" readonly type="text"></label>
<label for="finalExtendedAmount">Extended Amount<input id="finalExtendedAmount" readonly name="" type="text"></label>
<button type="button">Save Interpretation</button>
</form>

</section>
</section>
</main>