<h1>Agent Entry</h1>


<main class="container-fluid">
    <section class="row">
  <section class="col-4">
<form (ngSubmit)="saveAgent()">
    <label for="agentPO123">PO123<input id="agentPO123" name="" class="form-control" value="2" type="text"></label>
<label for="agentSection">Section<input  id="agentSection" class="form-control" name="" type="text"></label>
<label for="agentProductFamily">Product Family<input class="form-control"   id="agentProductFamily" name="" type="text"></label>
<label for="agentProductFamilySubType">Product Family Sub Type<input class="form-control"  id="agentProductFamilySubType" name="" type="text"></label>
<label for="agentProductDescription">Product Description<input class="form-control"  id="agentProductDescription" name="" type="text"></label>
<label for="agentPartNumber">Part Number<input  class="form-control" id="agentPartNumber" name="" type="text"></label>
<label for="agentListPrice">List Price (Billing Currency)<input class="form-control"  id="agentListPrice" name="" type="text"></label>
<label for="agentDiscount">Discount<input  id="agentDiscount" class="form-control" name="" type="text"></label>
<label for="agentUsageIndicator">Usage Indicator<input  class="form-control"  id="agentUsageIndicator" name="" type="text"></label>
<label for="agentUsageStartDate">Usade Start Date<input   id="agentUsageStartDate"  class="form-control" name="" type="date"></label>
<label for="agentUnitofMeasure">Unit of Measure<input  class="form-control" id="agentUnitofMeasure" name="" type="text"></label>
<label for="agentUnitQuanity">Unit Quantity<input  id="agentUnitQuanity" class="form-control" name="" type="text"></label>
<label for="agentNetUnitPrice">Net Unit Price (Billing Currency)<input class="form-control"   id="agentNetUnitPrice" name="" type="text"></label>
<label for="agentLicenseQuantity">License Quantity<input  id="agentLicenseQuanity" class="form-control"  name="" type="text"></label>
<label for="agentUsageCountry">Usage Country<input  id="agentUsageCountry" name="" class="form-control" type="text"></label>
<label for="agentExtendedAmount">Extended Amount<input  id="agentExtendedAmount"  class="form-control"  name="" type="text"></label>
<button type="button" class="btn btn-primary">Save Agent</button>

</form>

</section>


</section>
</main>
<!-- 


<h2>agenterpretation Entry</h2>

<input type="text" name="ie1">
<input type="text" name="ie2">
<input type="text" name="ie3">
<input type="text" name="ie4">
<input type="text" name="ie5">
<button type="button" (click)=saveInterpretation()>Save Interpretation</button>


<h2>Confidence Entry</h2>

<input type="text" name="ce1">
<input type="text" name="ce2">
<input type="text" name="ce3">
<input type="text" name="ce4">
<input type="text" name="ce5">
<button type="button" (click)=SaveConfidence()>Save Confidence</button> -->
