<h1>Agent Entry</h1>


<main class="container-fluid">
    <section class="row">
  <section class="col-4">
<form (ngSubmit)="saveAgent()">
    <label for="PO123">PO123<input id="PO123" name="" class="form-control" type="text"></label>
    <label for="Section">Section<input id="Section" class="form-control" name="" type="text"></label>
    <label for="ProductFamily">Product Family<input  id="ProductFamily" name="" type="text"></label>
    <label for="ProductFamilySubType">Product Family Sub Type<input id="ProductFamilySubType" name="" type="text"></label>
    <label for="ProductDescription">Product Description<input id="ProductDescription" name="" type="text"></label>
    <label for="PartNumber">Part Number<input id="PartNumber" name="" type="text"></label>
    <label for="ListPrice">List Price (Billing Currency)<input id="ListPrice" name="" type="text"></label>
    <label for="Discount">Discount<input id="Discount" name="" type="text"></label>
    <label for="UsageIndicator">Usage Indicator<input class="form-control"  id="UsageIndicator" name="" type="text"></label>
    <label for="UsageStartDate">Usade Start Date<input id="UsageStartDate"  class="form-control" name="" type="date"></label>
    <label for="UnitofMeasure">Unit of Measure<input id="UnitofMeasure" name="" type="text"></label>
    <label for="UnitQuanity">Unit Quantity<input id="UnitQuanity" name="" type="text"></label>
    <label for="NetUnitPrice">Net Unit Price (Billing Currency)<input class="form-control"  id="NetUnitPrice" name="" type="text"></label>
    <label for="LicenseQuantity">License Quantity<input id="License Quanity" class="form-control"  name="" type="text"></label>
    <label for="UsageCountry">Usage Country<input id="UsageCountry" name="" type="text"></label>
    <label for="ExtendedAmount">Extended Amount<input id="ExtendedAmount"  class="form-control"  name="" type="text"></label>
<button type="button" class="btn btn-primary">Save Agent</button>

</form>

</section>


</section>
</main>
<!-- 


<h2>Interpretation Entry</h2>

<input type="text" name="ie1">
<input type="text" name="ie2">
<input type="text" name="ie3">
<input type="text" name="ie4">
<input type="text" name="ie5">
<button type="button" (click)=saveInterpretation()>Save Interpretation</button>


<h2>Confidence Entry</h2>

<input type="text" name="ce1">
<input type="text" name="ce2">
<input type="text" name="ce3">
<input type="text" name="ce4">
<input type="text" name="ce5">
<button type="button" (click)=SaveConfidence()>Save Confidence</button> -->
